@font-face {
  font-family: 'Noto Sans KR';
  font-style: thin;
  font-weight: 100;
  src: url('../assets/fonts/NotoSansKR-Thin.otf') format('woff2'),
    url('../assets/fonts/NotoSansKR-Thin.otf') format('woff'),
    url('../assets/fonts/NotoSansKR-Thin.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: light;
  font-weight: 300;
  src: url('../assets/fonts/NotoSansKR-Light.otf') format('woff2'),
    url('../assets/fonts/NotoSansKR-Light.otf') format('woff'),
    url('../assets/fonts/NotoSansKR-Light.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: regular;
  font-weight: 400;
  src: url('../assets/fonts/NotoSansKR-Regular.otf') format('woff2'),
    url('../assets/fonts/NotoSansKR-Regular.otf') format('woff'),
    url('../assets/fonts/NotoSansKR-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: medium;
  font-weight: 500;
  src: url('../assets/fonts/NotoSansKR-Medium.otf') format('woff2'),
    url('../assets/fonts/NotoSansKR-Medium.otf') format('woff'),
    url('../assets/fonts/NotoSansKR-Medium.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: bold;
  font-weight: 700;
  src: url('../assets/fonts/NotoSansKR-Bold.otf') format('woff2'),
    url('../assets/fonts/NotoSansKR-Bold.otf') format('woff'),
    url('../assets/fonts/NotoSansKR-Bold.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: 'black';
  font-weight: 900;
  src: url('../assets/fonts/NotoSansKR-Black.otf') format('woff2'),
    url('../assets/fonts/NotoSansKR-Black.otf') format('woff'),
    url('../assets/fonts/NotoSansKR-Black.otf') format('truetype');
}
